/****** Reusable Classes ******/

.center-horiz{
	position: relative;
  	left: 50%;
  	transform: translateX(-50%);
}

.simplespacing{
	margin: 2vh auto;
}



/****** Default CSS ******/

.main-container{
	width: 50%;
	margin: 0 auto;
}

.break-div{
	background-color: #1ab193;
	height: 1px;
	clear: both;
	margin: 3vh 0;
}

.break-div-hidden{
	height: .15vh;
	clear: both;
	margin: 3vh 0;
}

.quote-input{
	width: 96%;
	height: 10vh;
}

.author-input{
	width: 30%;
	height: 3vh;
	margin: 0 0 2vh 1.75%;
}

.submit-button{
	border: none;
	float: right;
	margin: 0 2% 2vh 0;
	background-color: #1ab193;
	color: white;
	font-size: 1em;
	padding: 1vh 4%;
}

.button-container{
	text-align: center;
}

.action-button{
	border: 1px solid #1ab193;
	background-color: white;
	color: #1ab193;
	font-size: 1em;
	padding: 1vh 4%;
	margin: 0 1%;

}

/****** Input Placeholder Styling ******/

::-webkit-input-placeholder{
	font-size: 1em;
	padding-left: 1%;
	padding-top: 1%;
}


/****** jQuery CSS ******/

.quote-author{
	color: #1ab193;
	font-size: 1.2em;
	margin: none;
}

.star-container{
	text-align: right;
	margin: 1vh 0;
	display: block;
	
}

.delete-tag{
	text-align: right;
	color: #999999;
	margin: 1vh 0;
}

.off-star{
	color: #999999;
}
.on-star{
	color: #1ab193;
}



